version: '3.8'

services:
  redis:
    # https://hub.docker.com/_/redis
    # https://hub.docker.com/_/redis/tags?page=1&name=7.&ordering=last_updated
    image: redis:8.2.3@sha256:5c7c0445ed86918cb9efb96d95a6bfc03ed2059fe2c5f02b4d74f477ffe47915
    restart: always
    container_name: redis-container
    volumes:
      - redis-data:/data
    ports:
      - '6379:6379'
volumes:
  redis-data:
