version: '3.8'

services:
  redis:
    # https://hub.docker.com/_/redis
    # https://hub.docker.com/_/redis/tags?page=1&name=7.&ordering=last_updated
    image: redis:8.4.1@sha256:1409dd70ce485709f53b64a01cbe45272eb65031326f1c75310f84540d4dd234
    restart: always
    container_name: redis-container
    volumes:
      - redis-data:/data
    ports:
      - '6379:6379'
volumes:
  redis-data:
