version: '3.8'

services:
  redis:
    # https://hub.docker.com/_/redis
    # https://hub.docker.com/_/redis/tags?page=1&name=7.&ordering=last_updated
    image: redis:8.4.0@sha256:3906b477e4b60250660573105110c28bfce93b01243eab37610a484daebceb04
    restart: always
    container_name: redis-container
    volumes:
      - redis-data:/data
    ports:
      - '6379:6379'
volumes:
  redis-data:
