version: '3.8'

services:
  redis:
    # https://hub.docker.com/_/redis
    # https://hub.docker.com/_/redis/tags?page=1&name=7.&ordering=last_updated
    image: redis:8.4.0@sha256:43355efd22490e31ca14b9d569367d05121e2be61fd8e47937563ae2a80952ae
    restart: always
    container_name: redis-container
    volumes:
      - redis-data:/data
    ports:
      - '6379:6379'
volumes:
  redis-data:
