name: ci

run-name: ci

on:
  push:
  pull_request:

permissions:
  contents: write
  packages: write

jobs:
  ci:
    timeout-minutes: 15
    runs-on: ubuntu-latest

    steps:

    - name: Checkout
      uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6

    - name: Set up Go
      uses: actions/setup-go@4b73464bb391d4059bd26b0524d20df3927bd417 # v6
      with:
        go-version-file: 'go.mod'
        cache: true

    - name: Generate
      run: make generate

    - name: Test
      run: make test

    - name: Build
      run: make build

    - name: Build Docker image
      run: make image

    - name: Build JS client Docker image
      run: make image-frontend
